http:// {
	redir https://{host}:{$HTTPS_PORT}{uri} permanent
}

{$WEB_URL}/* {
	handle_path {$WEB_PATH}/* {
		reverse_proxy *	http://web
	}
}

{$API_URL}/* {
	handle_path {$API_PATH}/* {
		reverse_proxy *	http://api
	}
}
