http://{$PUBLIC_BASE_URL} {
	redir https://{host}:{$PUBLIC_HTTPS_PORT}{uri} permanent
}

https://{$PUBLIC_BASE_URL} {
	reverse_proxy * 	http://web
	
	rewrite {$PUBLIC_API_PATH} {$PUBLIC_API_PATH}/
	handle_path {$PUBLIC_API_PATH}/* {
		reverse_proxy 	http://api
	}
}
